.castWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.castList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.castListItem {
  width: 200px;
  height: auto;
}

.castListItem:not(:last-child) {
  margin-right: 40px;
}

.castImg {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.castName {
  color: rgba(0, 0, 0, 0.8);
  max-width: 200px;
  margin: 10px 0 10px 0;
}

.castCharacter {
  color: rgba(0, 0, 0, 0.8);
  max-width: 200px;
  margin: 0 0 16px 0;
}
